body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.navbar {
  background-color: #ffffff; /* Set your desired background color */
}

.navbar-brand {
  font-weight: bold;
}

.nav-link {
  color: #000000; /* Set your desired text color */
}

#home {
  background-color: #f4f4f4; /* Set your desired background color */
  padding: 40px;
  text-align: center;
}

#home h2 {
  color: #333333; /* Set your desired text color */
}

#about {
  background-color: #eaeaea; /* Set your desired background color */
  padding: 40px;
  text-align: center;
}

#about h2 {
  color: #333333; /* Set your desired text color */
}

#services {
  background-color: #f4f4f4; /* Set your desired background color */
  padding: 40px;
  text-align: center;
}

#services h2 {
  color: #333333; /* Set your desired text color */
}

#contact {
  background-color: #eaeaea; /* Set your desired background color */
  padding: 40px;
  text-align: center;
}

#contact h2 {
  color: #333333; /* Set your desired text color */
}