body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app {
  background-color: white;
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.active {
  background-color: black;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #463be7c2;
  position: sticky;
  top: 0;
}

nav .brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin: 1rem;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  display: block;
  color: white;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}
nav ul li a:not(.active):hover {
  background-color: #37b139c2;
}

/*
.navbar {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(146,161,176,.3);
}

.navLink {
  color: #c9c1c1;
  font-weight: 300;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  transition: color 0.3s, background-color 0.3s;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.navLink:hover {
  background-color: #fff;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
}

.nav-item {
  text-decoration: none;
  color: #000000; 
  margin-right: 20px;
  transition: color 0.3s ease;
}
*/